html {
  --bg: black;
  --bg-focused: #3d3d3d;

  --fg: dimgray;
  --fg-focused: white;

  --red: darkred;
  --red-focused: red;

  --green: green;
  --green-focused: lightgreen;

  --blue: darkblue;
  --blue-focused: blue;

  --lightblue: darkcyan;
  --lightblue-focused: darkturquoise;

  --yellow: olive;
  --yellow-focused: gold;
}

html[data-theme='light'] {
  --bg: white;
  --bg-focused: #bdbdbd;

  --fg: #bbb;
  --fg-focused: black;

  --red: firebrick;

  --green: lightgreen;
  --green-focused: green;

  --blue: blue;
  --blue-focused: darkblue;

  --lightblue: darkturquoise;
  --lightblue-focused: darkcyan;

  --yellow: goldenrod;
}
