input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;

  vertical-align: middle;

  &::-moz-range-track {
    background: var(--bg-focused);
    height: 0.5rem;
  }

  &::-webkit-slider-runnable-track {
    background: var(--bg-focused);
    height: 0.5rem;
  }

  &::-moz-range-thumb {
    appearance: none;

    background-color: var(--fg-focused);

    height: 12px;
    width: 12px;

    margin-top: none;

    border: none;
    border-radius: 0px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    background-color: var(--fg-focused);

    height: 12px;
    width: 12px;

    margin-top: -2.25px;
  }
}

button,
input[type='button'],
input[type='submit'],
input[type='text'] {
  background-color: var(--fg-focused);
  color: var(--bg-focused);

  font-family: monospace;

  outline: none;
  border: none;

  &:hover {
    background-color: var(--fg);
    color: var(--bg);
  }

  &:focus {
    outline: none;
  }
}
