select {
  background-color: var(--foreground-unfocused);
  color: var(--foreground);

  font-family: monospace;

  outline: none;
  border: none;

  &:hover {
    background-color: var(--foreground-focused);
    color: var(--background);
  }
}

select {
  appearance: none;
  padding: 1px 4px;
}
