@media screen and (width <= 767px) {
  #app {
    > .wrapper:not(.no-wrap) {
      flex-direction: column;

      .nav {
        justify-content: space-between;
      }
    }
  }
}

#app {
  display: flex;

  flex-direction: column;

  height: 100%;

  > .wrapper {
    display: flex;

    justify-content: space-between;

    &:not(.no-wrap) {
      margin-top: 4px;
    }

    .no-wrap {
      margin-bottom: 4px;
    }

    .header,
    .footer {
      background-color: var(--background-color);

      font-size: 14px;
      font-weight: 800;

      margin: 5px;
      padding: 10px;
    }

    .header {
      align-items: center;

      display: flex;

      gap: 8px;

      justify-content: center;

      .breadcrumb {
        color: gray;

        font-size: 12px;

        font-weight: normal;

        max-width: 87.6em;

        overflow: hidden;

        text-overflow: ellipsis;

        &:before {
          content: '> ';
          color: darkgray;
        }
      }
    }

    .nav {
      display: flex;

      flex-wrap: wrap;

      align-content: center;
      align-items: center;

      margin: 5px;

      a {
        background-color: var(--background-color);

        display: block;

        height: fit-content;

        margin: 5px;
        padding: 5px;

        text-align: center;
      }
    }
  }

  > .section,
  > main {
    background-color: var(--background-color);

    height: 100%;

    margin: 5px;
    padding: 10px;

    overflow: scroll;

    scrollbar-width: none;

    overflow-wrap: anywhere;
  }

  > .section {
    border: 2px solid var(--important);

    height: fit-content;

    overflow: visible;

    padding: 0;

    > .header {
      background-color: var(--important);

      padding: 4px;

      color: var(--background-color-solid);
    }

    > .wrapper {
      padding: 10px;
    }
  }
}
