:root {
  --background-color: rgba(30, 30, 30, 0.5);
  --background-color-solid: #303030;
  --background-color-hover: var(--background-floating-solid);

  --background-floating: rgba(20, 20, 20, 0.9);
  --background-floating-solid: #202020;
  --background-floating-hover: var(--background-color-solid);

  --background-lighter-solid: #404040;

  --note: yellow;

  --important: violet;

  --link: cyan;
  --link-hover: darkcyan;
  --link-broken: gray;
  --link-no-href: lightpink;
  --link-no-href-hover: lightcoral;

  --interactable: lightgreen;
  --interactable-hover: limegreen;

  --text-color: #fff;
  --text-darker-color: #bbb;
}

body,
html {
  height: 100%;

  margin: 0;
}

body {
  background-image: url('../assets/background.png');
  background-position: center center;
  background-size: cover;

  color: var(--text-color);

  display: flex;

  flex-direction: column;

  font-family: monospace;
  font-size: 14px;

  word-break: break-word;

  max-height: 100%;
}

a {
  color: var(--link);

  text-decoration: none;

  &.broken:after,
  &[href='']:after {
    color: var(--link-broken);

    content: '(broken link)';

    font-size: 12px;

    margin-left: 6px;
  }

  &:not([href]) {
    color: var(--link-no-href);

    &:after {
      &:extend(a.broken:after);

      content: '(no href)';
    }

    &:hover {
      color: var(--link-no-href-hover);

      text-decoration: none;
    }
  }

  &:hover {
    color: var(--link-hover);

    text-decoration: underline;
  }
}

ul {
  list-style: none;

  margin-left: 0.5em;
  padding-left: 1.2em;

  position: relative;
}

li {
  margin: 12px 0;

  &:before {
    content: '-';

    left: 0;

    position: absolute;
  }
}
