@media (prefers-color-scheme: dark) {
	html {
		--bg: #261d2d;
		--bg-content: #18121d;
		--bg-highlighted: #0d0912;
		--bg-backdrop: #0d0912c4;

		--fg: #bcb1cf;
		--fg-highlighted: #e4c8f5;
		--fg-accented: #ccabe7;
		--fg-muted: #7a6c83;

		--header-muted: #c1b4d7;

		--danger: #e97979;
		--danger-muted: #884c4c;
		--danger-highlighted: #9b3d3d;

		--warning: #ebeb8d;
		--warning-highlighted: #f5c868;

		--safe: #7bdf7b;
		--safe-muted: #64b176;
		
		--link: #8fa1c7;
		--link-hovered: #686d9e;
		--link-visited: #6456b1;
		--link-visited-hovered: #7e6dd4;

		--accent: #c692f1;
		--accent-1: #e7bcff;
		--accent-2: #f4d7ff;
	}
}