#content > h1,
#content > h2,
#content > h3,
#content > h4,
#content > h5,
#content > h6 {
	border-bottom: 2px dashed var(--fg-muted);
}

#content > h1 {
    margin: 0 0 20px 0;
    
    padding-bottom: 8px;
}

#content > h2 {
    margin: 0 0 16px 0;
    
    padding-bottom: 6px;
}

#content > h3 {
    margin: 0 0 12px 0;
    
    padding-bottom: 4px;
}