@font-face {
	font-family: "Meditative";
	src: url("/resources/Meditative.ttf") format("truetype");
}

.meditative {
	font-family: "Meditative", serif;
}

.rubik { 
	font-family: "Rubik", sans-serif;
}

.jetbrains-mono {
	font-family: "JetBrains Mono", monospace;
}

.light {
	font-weight: 500;
}