/**
* holy grail hamburger stack setup
* 
* [		header		] [ sidebar ]
* [		content		] [ sidebar ]
* [ 	footer		] [ sidebar ]
*/

body {
	/** default begone */
	min-height: 100dvh;
	margin: 0;
	
	background-color: var(--bg);
	
	display: grid;
	gap: .75em;
	grid-template-areas: "sidebar main rightbar";
	grid-template-columns: 1fr 2fr 1fr;
}

#main {
	grid-area: main;
	
	display: grid;
	grid-template-areas: "header" "content" "footer";
	grid-template-rows: auto 1fr auto;
}

#header {
	grid-area: header;
}

#content {
	grid-area: content;
}

#footer {
	grid-area: footer;
}

#sidebar {
	grid-area: sidebar;

	display: grid;
	grid-template-areas: "nav" "changelog";
	grid-template-rows: 1fr auto;
}

#rightbar {
	grid-area: rightbar;

	display: grid;
	grid-template-areas: "earworm";
	grid-template-rows: auto;
}

#nav,
#changelog,
#earworm {
	display: grid;
	grid-template-rows: auto 1fr;
}

#nav {
	grid-area: nav;
}

#changelog {
	grid-area: changelog;
}

#earworm {
	grid-area: earworm;
}