#sidebar-overlay {
	display: none;
}

@media only screen and (max-width: 768px) {
	#rightbar {
		display: none;
	}

	#sidebar {
		z-index: 9999;
	}

	#sidebar-overlay {
		position: fixed;

		height: 100dvh;
		width: 100dvh;
	}

	#sidebar.force-show ~ #sidebar-overlay {
		display: block;
	}
}