.vertical-grid,
.horizontal-grid {
	display: grid;
}

.vertical-grid {
	grid-auto-rows: 1fr;
}

.horizontal-grid {
	grid-auto-columns: 1fr;
}

.horizontal-min-grid {
	grid-auto-columns: min-content;
}

.gap-2rem {
	gap: 2rem;
}

.gap-1p5rem {
	gap: 1.5rem;
}

.gap-1p25rem {
	gap: 1.25rem;
}

.gap-1rem {
	gap: 1rem;
}

.gap-p75rem {
	gap: .75rem;
}

.gap-8px {
	gap: 8px;
}

.gap-6px {
	gap: 6px;
}

.gap-4px {
	gap: 4px;
}