@import './themes/default.less';
@import './themes/gruvbox.less';
@import './themes/tokyo-night.less';

html {
  font-family: monospace;
  font-size: 13px;

  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--lightblue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding-inline-start: 16px;
}

code {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0 4px;
}

#root {
  .block {
    border-style: solid;
    border-width: 1px;
    border-color: var(--unfocused-border);

    max-width: 100%;

    > legend.label {
      color: var(--unfocused-label);
      user-select: none;
    }

    &:hover {
      border-color: var(--focused-border);

      > legend.label {
        color: var(--focused-label);
      }
    }
  }

  > .header {
    display: flex;
    max-width: 100%;

    .block {
      &.site-name {
        flex-grow: 1;
        user-select: none;

        :not(.label) {
          font-size: large;
        }

        > .content {
          font-weight: bold;
          user-select: text;
        }

        .splash-text {
          font-weight: normal;
          color: var(--yellow);
          max-width: 100%;
          user-select: none;

          .separator {
            color: var(--gray);
            user-select: none;
          }

          .content {
            font-style: italic;
            user-select: text;
          }
        }
      }

      &.pages {
        user-select: none;
        display: flex;
        gap: 6px;
      }
    }
  }

  > .main-content {
    height: 78vh;

    :not(.label) {
      font-size: 14px;
    }
  }

  > .footer {
    display: flex;
    max-width: 100%;

    .block {
      :not(.label) {
        font-size: 14px;
      }

      &.text {
        flex-grow: 1;
      }

      &.links {
        user-select: none;
        display: flex;
        gap: 6px;
      }
    }
  }
}
