@font-face {
	font-family: 'Fira Code';
	src: url('/resources/Fira_Code/FiraCode-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Fira Code', monospace;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.stealth {
	color: inherit;
}