@font-face {
	font-family: 'Fira Code';
	src: url('/resources/Fira_Code/FiraCode-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: black;
	font-family: 'Fira Code', monospace;
}

body:not(.override) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.stealth {
	color: inherit;
}

@keyframes overlay-opacity {
	0% {
		opacity: 0;
	}

	55% {
		opacity: 1;
	}
}

#overlay {
	background: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(34, 61, 58, 0.3) 100%);
	opacity: 0;

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -9999;

	animation: 15s overlay-opacity alternate linear infinite;
}

.dialog {
	border: 1px solid var(--dialog-accent, white);
	background-color: black;
	padding: 16px;
	margin: 8px;
}

.c5vpjt {
  fill: currentColor;
  d: path("M21 3v12.5a3.5 3.5 0 0 1-3.5 3.5a3.5 3.5 0 0 1-3.5-3.5a3.5 3.5 0 0 1 3.5-3.5c.54 0 1.05.12 1.5.34V6.47L9 8.6v8.9A3.5 3.5 0 0 1 5.5 21A3.5 3.5 0 0 1 2 17.5A3.5 3.5 0 0 1 5.5 14c.54 0 1.05.12 1.5.34V6z");
}